<!DOCTYPE html>
<html>
<head>
	<title>mumu</title>
	<meta charset="utf-8">
	<style>
		img{
			width: 500px;
			height: 500px;
		}

		#image1{
			float:left;
			width:50%;
		}

		#image2{
			float:right;
			width:50%;
		}

		.bt{
			width: 8%;
		    height:10%;

			background:#f56a6a;
			color:#fff;
			border:none;
			position:relative;			
			padding:0 2em;
			cursor:pointer;
			transition:800ms ease all;
			outline:none;
		}

	</style>
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
	<center>
	<h1>살고 싶은곳을 골라</h1>
	<h2 class="inpra"></h2>
	<p id="cal"></p> <!--없애도 됨-->

	<div>
		<button class="bt"   onclick="cc(); change(0); ">선택</button>
		<button class="bt"   onclick="cc2(); change(1); ">선택</button>
	</div>
	<span id="image1" >  <!--cc();-->
		
	</span>

	

	<span id="image2" > <!--cc2();-->
	</span>
	
<div>
<button id="actres" class="btn btn-primary" data-title="결과보기" style="width: 100%;" data-toggle="modal" data-target="#result" onclick="itemli(); listcal();">결과보기</button>
	


<div class="modal fade" id="result" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">

    <div class="modal-dialog">

		<div class="modal-content">

			<div class="modal-header">

				<h4 class="modal-title custom_align" id="Heading">니 취향</h4>

				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" >X</button>        

			</div>

			<div class="modal-body">



				<div class="form-group">

					 <textarea rows="4" class="form-control" id="itemtypelist" readonly></textarea>           
			
				</div>

                <div>
                    <form method="post">
						<input type='hidden' id='t1' name= 'tag1' value="1" />
                        <input type='hidden'  id='t2' name= 'tag2' value="1" />
                        <input type='hidden'  id='t3' name= 'tag3' value="1" />
                        <input type='hidden'  id='t4' name= 'tag4' value="1" />
                        <input type='hidden'  id='t5' name= 'tag5' value="1" />
                        <input type='hidden'  id='t6' name= 'tag6' value="1" />
                        <input type='hidden'  id='t7' name= 'tag7' value="1" />
                        <input type='hidden'  id='t8' name= 'tag8' value="1" />	
                        <input type='hidden'  id='t9' name= 'tag9' value="1" />
                        <input type='hidden'  id='t10' name= 'tag10' value="1" />
                        <input type='hidden'  id='t11' name= 'tag11' value="1" />
                        <input type='hidden'  id='t12' name= 'tag12' value="1" />	
                        <input type='hidden'  id='t13' name= 'tag13' value="1" />
                        <input type='hidden'  id='t14' name= 'tag14' value="1" />
                        <input type='hidden'  id='t15' name= 'tag15' value="1" />
                        <input type='hidden'  id='t16' name= 'tag16' value="1" />
						<input type='hidden'  id='t17' name= 'tag17' value="1" />
                        <input type='hidden'  id='t18' name= 'tag18' value="1" />
                        <input type='hidden'  id='t19' name= 'tag19' value="1" />
                        <input type='hidden'  id='t20' name= 'tag20' value="1" />	
                        <input type='hidden'  id='t21' name= 'tag21' value="1" />
                        <input type='hidden'  id='t22' name= 'tag22' value="1" />
                        <input type='hidden'  id='t23' name= 'tag23' value="1" />
                        <input type='hidden'  id='t24' name= 'tag24' value="1" />
						<input type='hidden'  id='t25' name= 'tag25' value="1" />				
                        <input type="submit" value="가자">
                        
                    </form>

                </div>

			</div>

	
		</div>

   

    </div>

       
</div>
</div>
  



	<script>

		
		text ="";
		var images=[];
		var next_img = [];
		var rank=new Array(25).fill(0);
		var rankname=['강남구','강동구','강북구','강서구','관악구','광진구','구로구','금천구','노원구','도봉구','동대문구','동작구','마포구','서대문구','서초구','성동구',
							'성북구','송파구','양천구','영등포구','용산구','은평구','종로구','중구','중랑구'];


		var cnt=0;
		var num=0;
		var next_num = 0;
		var total_count=0;



		function img_init(){

			for(i=0; i<25; i++)
			{
				images[i]="{{ url_for('static', filename='html/map/') }}"+(i+1)+".html";
			}
			images.sort(function(a,b){return 0.5- Math.random()}); //랜덤정렬
			images.splice(16); //16번째 인덱스부터 제거

			//images[0]="{{ url_for('static', filename='html/world/1.html') }}";
			//images[1]="{{ url_for('static', filename='html/world/1.html') }}";

			show(num);
		}

		img_init();

		function show(num){

			$("#image1").load(images[num]);
			$("#image2").load(images[num+1]);

			//document.getElementById('image').src=images[num];
			//document.getElementById('images').src=images[num+1];
			total_count++;
		}

		function change(n){
			if(total_count<40)
			{
				cnt++;

				if(n == 0){
					next_img[next_num++] = images[num];
				}
				else
					next_img[next_num++] = images[num+1];

				if(cnt == images.length/2){

					if(cnt==1){
						$('.inpra').text("끝");
						total_count=41;
						return;
					}

					for(i=0; i<next_img.length; i++){
						images[i] = next_img[i];
						next_img[i] = null;
					}
					images.splice(cnt);  //cnt인덱스부터 모두 제거
					
					cnt = 0;
					num = 0;
					next_num = 0;
					show(num);
				}

				else{
					num+=2;
					show(num);					
				}
				
			}



		}


		



		
		function cc(){
			if(total_count<40){
			var tex=images[num].split('/');
			var tex2=tex[4].split('.');

			rank[parseInt(tex2)-1]+=10;

			$('.inpra').text(tex2[0]);
			}
		}

		function cc2(){

			if(total_count<40){
			var tex=images[num+1].split('/');
			var tex2=tex[4].split('.');

			rank[parseInt(tex2)-1]+=10;

			$('.inpra').text(tex2[0]);
			}
		}

		function itemli(){
			var itemlist="";

			for (i = 0; i < 25; i++) {
				
				if(rank[i]!=0)
				itemlist+=rankname[i]+": "+rank[i]+"\n";
			}

			$("#itemtypelist").val(itemlist);
		}


		function listcal(){

            for(i=1; i<=25; i++){
                var a='t'+i;
                var b=rank[i-1];
                document.getElementById(a).setAttribute('value', b );
            }

            
        }



		document.getElementById('cal').innerHTML=text; //없애도 됨
	</script>
	


	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/util.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</center>
</body>
</html>